<div class="menu">
		<div class="ima">
            <%= image_tag("logo.png", :alt => "logo feed") %>
		</div>
		<ul id="dropdown1" class="dropdown-content desple">
			<li><a id="aaa" href="nuevoArtista">Artista</a></li>
			<li><a id="aaa" href="nuevoUsuario">Usuario</a></li>
			<li><a id="aaa" href="nuevoPatrocinador">Patrocinador</a></li>
		</ul>
		<nav class="navmenu">
			<a href="#historia" class="sass.html">Nosotros<i class="material-icons right">group</i></a>
			<a>Ventajas<i class="material-icons right">gradient</i></a>
			<a>Inicio<i class="material-icons right">face</i></a>
			<a class="dropdown-trigger" href="#!" data-target="dropdown1">Registrate<i class="material-icons right">arrow_drop_down</i></a>
		</nav>
		
	</div>
	<header class="encabezado">
		<div class="carrusel">
			<div class="parte1">
				<div class="contenedor_logo">
					<a class="logo">
                        <%= image_tag("logo.png", :alt => "logo feed", :width => "80px", :height => "80px") %>
					</a>
					<div>La mejor opcion para tu piel</div>
				</div>
				<div class="contactanos">
					<button name="button" class="animacion">Contactanos</button>
				</div>
			</div>
			
			<div class="container">
					<div class="row">
						<div class="col s12">
							<h1 class="center-align titulo">Nuestros servicios</h1>

							<div class="carousel center-align">
								<div class="carousel-item">
									<h2 class="subtitulo">Tienda</h2>
									<div class="linea-division"></div>
									<p class="tipo">Prodcutos</p>
                                    <%= image_tag("tienda.jpg", :alt => "tienda feed") %>
								</div>
								<div class="carousel-item">
									<h2 class="subtitulo">Artistas</h2>
									<div class="linea-division"></div>
									<p class="tipo"></p>
                                    <%= image_tag("artista.jpg", :alt => "artista feed") %>
								</div>
								<div class="carousel-item">
									<h2 class="subtitulo">Lienzos</h2>
									<div class="linea-division"></div>
									<p class="tipo">Tattuajes</p>
                                    <%= image_tag("lienzo.jpg", :alt => "lienzo feed") %>
								</div>
								<div class="carousel-item">
									<h2 class="subtitulo">Concursos</h2>
									<div class="linea-division"></div>
									<p class="tipo">Patrocinio</p>
                                     <%= image_tag("patrocinio.jpg", :alt => "patrocinio feed") %>
								</div>

							</div>
							
						</div>

					</div>
			</div>


		</div>
	</header>
	<section class="cuerpo">
		<div class="cuerpo1">
			<h4>Soluciones pensadas para ti</h4>
			<h2>Soluciones para los Artistas</h2>
		</div>
		<div class="cuerpo2">
			<div class="cuadrado">
				<div class="imagen_pequeña">
                    <%= image_tag("tintas.png", :alt => "tintas feed", :width => "80px",  :height => "80px") %>
				</div>
				<h3>Productos</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
			<div class="cuadrado">
				<div class="imagen_pequeña">
                    <%= image_tag("patrocinio.png", :alt => "patrocini feed", :width => "80px",  :height => "80px") %>
				</div>
				<h3>Patrocinio</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
			<div class="cuadrado">
				<div class="imagen_pequeña">
                    <%= image_tag("eficiencia.png", :alt => "eficiencia feed", :width => "80px",  :height => "80px") %>
				</div>
				<h3>Eficiencia</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
		</div>
		<div class="cuerpo3">
			<div class="cuadrado">
				<div class="imagen_pequeña">
                    <%= image_tag("publicidad.png", :alt => "publicidad feed", :width => "80px",  :height => "80px") %>
				</div>
				
				<h3>Exponer</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
			<div class="cuadrado">
				<div class="imagen_pequeña">
                     <%= image_tag("ahorro.png", :alt => "ahorro feed", :width => "80px",  :height => "80px") %>
				</div>
				<h3>Ahorro</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
			<div class="cuadrado">
				<div class="imagen_pequeña">
                     <%= image_tag("comunidad.png", :alt => "comunidad feed", :width => "80px",  :height => "80px") %>
				</div>
				<h3>Comunidad</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
		</div>
		<div class="cuerpo4">
			<button>Obten mas informacion</button>
		</div>

	</section>
	<section class="historia" id="historia">
		<div class="historia1_parte1">
			<div class="historia_texto">
				<h4>Nuestra historia</h4>
				<h2>Conocenos</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit quo, praesentium, voluptatum tenetur dicta perspiciatis fugit eius tempore recusandae aut assumenda delectus totam possimus nostrum facilis ipsum. Ea, natus provident.</p>
			</div>
			<div class="imagen_historia">
                <%= image_tag("imagen1.jpg", :alt => "imagen1 feed") %>
			</div>
		</div>
		<div class="historia_texto2">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum nemo corrupti voluptatibus sunt aliquid assumenda harum praesentium, magnam quos itaque aliquam eligendi a quidem excepturi dolore ducimus rerum! Magnam?</p>
		</div>
		<div class="historia3">
			<div class="cuadrado">
				<div class="imagen_pequeña">
                     <%= image_tag("publicidad.png", :alt => "publicidad feed", :width => "80px",  :height => "80px") %>
				</div>
				
				<h3>Exponer</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
			<div class="cuadrado">
				<div class="imagen_pequeña">
                     <%= image_tag("publicidad.png", :alt => "publicidad feed", :width => "80px",  :height => "80px") %>
				</div>
				<h3>Ahorro</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
			<div class="cuadrado">
				<div class="imagen_pequeña">
                     <%= image_tag("publicidad.png", :alt => "publicidad feed", :width => "80px",  :height => "80px") %>
				</div>
				<h3>Comunidad</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ad quasi unde? Ullam necess</p>
			</div>
		</div>
	</section>
	<footer class="page-footer pie" id="pie">
		<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-facebook"></i> Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-instagram"></i> Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-whatsapp"></i> Whatsapp</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><i class="bi bi-linkedin"></i> Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">By Edwin Galviz</a>
            </div>
          </div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script src="js/funcionalidad.js"></script>
</body>


